*{
    margin: 0px;
    padding: 0px;
    background-color:rgb(231, 231, 169);
}
.navegacao{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(68, 70, 45);
    
}
.link-home {
    color: #000000;
    text-decoration: none; 
}
.alinhar{
    padding-top: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 205, 42);
    
    /* Defina a largura desejada */
    width: 300px;

    /* Centralize horizontalmente usando margin */
    margin: 0 auto;

    /* Box Model */
    border: 10px solid rgb(92, 94, 1);
    padding-top:2px ;
    padding: 10px ;
   
    /* margin: 15px; */ /* Remova a margem que estava interferindo */
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 70, 45);
}
.button {
    background-color: rgb(219, 205, 42);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.font{
    font-size: 50px;
    color: rgb(110, 11, 11);
}
.font2{
    font-size: 24px;
}
.footer {
    background-color: rgb(68, 70, 45);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}